<a class="btn btn-outline-info waves-light" (click)="receiveModal.show()" mdbWavesEffect>Receive</a>

<div mdbModal #receiveModal="mdbModal" class="modal fade" id="modalLoginAvatar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog cascading-modal modal-avatar modal-lg" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <img [src]="'./assets/' + app.symbol + '2.png'" class="rounded-circle img-responsive">
            </div>
            <div class="modal-body text-center mb-1">

                <h5 class="mt-1 mb-2" style="padding-bottom: 20px">Use this address to receive Ether</h5>

                <h3 class="h3-responsive" *ngIf="identityWallet">{{identityWallet.address}}</h3>
                <h3 *ngIf="!identityWallet">Loading</h3>

                <div class="text-center" style="padding-top: 20px">
                    <button class="btn btn-default mt-1 waves-light" mdbWavesEffect (click)="receiveModal.hide()">Got it! <i class="fa fa-sign-out ml-1"></i></button>
                </div>
            </div>

        </div>
    </div>
</div>