<div class="pt-5 pb-4">
	<div class="info-color pt-4 pb-1 font-weight-bold z-depth-1 white-text">
			<div class="row no-gutters justify-content-center">
        <div class="col-12 col-md text-center">
            <h3 class="h3-responsive pt-2 text-capitalize">Property Listing Request</h3>
        </div>
			</div>
	</div>
</div>



<div class="row no-gutters justify-content-center pb-4">
  <div class="col col-md-8">
    <div *ngIf="loading" class="text-center">
      <mdb-spinner spinnerType="big" spinnerColor="blue"></mdb-spinner>
    </div>
    <form [hidden]="!(!loading && listing)" [formGroup]="itemForm">
      <div class="row no-gutters justify-content-center pb-2">

        <div class="col-12 pb-2 md-form">
					<i class="fa fa-home prefix grey-text"></i>
          <input type="text" length="50" mdbCharCounter id="form-propertyName" class="form-control" formControlName="name" successMessage=" " errorMessage=' ' required mdbInputDirective>
          <label for="form-propertyName">Listing title</label>
        </div>
        
        <div class="col-12 col-md-8 md-form">
          <i class="fa fa-address-book prefix grey-text"></i>
          <input #search type="text" id="form-address" class="form-control" formControlName="address" successMessage=" " errorMessage=' ' required mdbInputDirective placeholder="Address">
        </div>

        <div class="col-12 col-md-4 md-form">
          <i class="fa fa-address-book prefix grey-text"></i>
          <input type="text" id="form-unit" class="form-control" formControlName="unit" successMessage=" " errorMessage='This field is required' mdbInputDirective>
          <label for="form-unit">Unit# (Optional)</label>
        </div>

        <div class="col-12 col-md-4 px-1 text-center">
          <label class="font-weight-bold">Type</label>
          <mdb-select [options]="propertyOptions" formControlName="type" placeholder="Select" class="colorful-select dropdown-default border border-primary"></mdb-select>
        </div>

        <div class="col-12 col-md-4 px-1 text-center">
          <label class="font-weight-bold">Beds</label>
          <mdb-select [options]="bedsOptions" formControlName="numOfBeds" placeholder="Select" class="colorful-select dropdown-default border border-primary"></mdb-select>
        </div>

        <div class="col-12 col-md-4 px-1 text-center">
          <label class="font-weight-bold">Baths</label>
          <mdb-select [options]="bathsOptions" formControlName="numOfBaths" placeholder="Select" class="colorful-select dropdown-default border border-primary"></mdb-select>
        </div>

        <div class="col-12 col-md-12 md-form">
          <i class="fa fa-arrows-h prefix grey-text"></i>
          <input type="number" id="form-sqft" class="form-control" formControlName="sqft" successMessage=" " errorMessage=' ' required mdbInputDirective>
          <label for="form-sqft">SQFT</label>
        </div>

        <div class="col-12 col-md-6 md-form">
          <i class="fa fa-money prefix grey-text"></i>
          <input type="number" id="form-rentAmount" class="form-control" formControlName="rentAmount" successMessage=" " errorMessage=' ' required mdbInputDirective>
          <label for="form-rentAmount">Monthly price (USD)</label>
        </div>

        <div class="col-12 col-md-6 md-form">
          <i class="fa fa-money prefix grey-text"></i>
          <input type="number" id="form-securityDepositAmount" class="form-control" formControlName="securityDepositAmount" successMessage=" " errorMessage=' ' required mdbInputDirective>
          <label for="form-securityDepositAmount">Security deposit (USD)</label>
        </div>
        
        <div class="col-12">
          <p class="mb-0 font-weight-bold grey-text">Available From</p>
        </div>
        <div class="col-12">
          <mdb-date-picker [options]="myDatePickerOptions" placeholder="Choose date" formControlName="availableFrom" required></mdb-date-picker>
        </div>

        <h1 class="col-12 text-center pt-3">photos</h1>
        <div *ngIf="listing" class="col-12 py-5 pt-md-0">
            <div class="container px-md-5">
              <div class="row">
                <mdb-image-modal [modalImages]="listing.photos" type="margin"></mdb-image-modal>
              </div>
            </div>
        </div>

        <div class="col-12 md-form">
          <i class="fa fa-pencil prefix grey-text"></i>
          <textarea mdbInputDirective type="text" length="1000" mdbCharCounter formControlName="details" id="form8" class="md-textarea form-control" rows="3" successMessage=" " errorMessage=' ' ></textarea>
          <label for="form8">Description</label>
        </div>

        <div class="col-12 md-form">
          <h1 class="text-center pb-3">Amenities</h1>
          <ul class="row justify-content-between no-gutters amenities-list">
            <li *ngFor="let amenity of amenities" class="col-5 pb-3 font-weight-bold" (click)="selectAmenities(amenity.name)" 
                [style.opacity]="amenity.selected? 1:''">
              <span class="amenities-icon {{amenity.id}}" 
              [ngStyle]="{'background-position-y':amenity.selected? 0:''}"></span>
              <span [class.blue-text]='amenity.selected'> {{amenity.name}} </span>
            </li>
          </ul>
        </div>

        <!-- <div class="col-12">
          <h1 class="text-center pb-3">Type of Rental Agreement</h1>
          <div class="form-check pb-2">
            <input type="radio" class="form-check-input" id="radioID1" formControlName="typeOfContract" value="traditional contract" mdbInputDirective [mdbValidate]='false'>
            <label class="form-check-label" for="radioID1"><h4 class="font-weight-bold">Traditional Contract</h4></label>
          </div>							
          <div class="form-check">
            <input type="radio" class="form-check-input" id="radioID2" formControlName="typeOfContract" value="ethereum smart contract" mdbInputDirective [mdbValidate]='false'>
            <label class="form-check-label" for="radioID2"><h4 class="font-weight-bold">Ethereum Smart Contract</h4></label>
          </div>
        </div> -->

        <div class="col-12 text-center pt-5">
          <button mdbBtn type="button" [disabled]="submiting" color="danger" class="waves-light" [ngClass]="{'btn-outline-danger':actionSelected!='reject'}" mdbWavesEffect (click)="selectAction('reject')">
            Reject
          </button>
          <button mdbBtn type="button" [disabled]="submiting" color="success" class="waves-light" [ngClass]="{'btn-outline-success':actionSelected!='verify'}" mdbWavesEffect (click)="selectAction('verify')">
            Verify
          </button>
        </div>

        
        
        
      </div>
    </form>
    <form [formGroup]="rejectionForm" (ngSubmit)="onSubmit()">
      <div class="row justify-content-center no-gutters">
          <div *ngIf="actionSelected=='reject'" class="col-12 col-md-6 md-form">
            <i class="fa fa-close prefix grey-text"></i>
            <input type="text" id="orangeForm-licence" class="form-control" required formControlName="rejectionReason" 
                successMessage=" " errorMessage='This field is required' mdbInputDirective>
            <label for="orangeForm-licence">Rejection reason</label>
          </div>

          <div class="col-12 col-md-2 md-form text-center">
            <button [disabled]="disableInput() || submiting" mdbBtn type="submit" color="primary" size="lg" class="waves-light" mdbWavesEffect>
              <span *ngIf="!submiting">Submit</span>
              <span *ngIf="submiting">
                <!-- <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> -->
                Submitting
              </span>
            </button>
          </div>
      </div>
    </form>
  </div>
</div>