<div class="row no-gutters justify-content-center pb-4 animated fadeIn">
  <div class="col col-md-4 col-sm-8">

      <div class="card card-cascade">

          <div class="view view-cascade gradient-card-header light-blue darken-4">
              <h2 class="h2-responsive mb-2">Login</h2>
          </div>
          <mdb-progress-bar *ngIf="submiting" class="progress primary-color-dark" mode="indeterminate"></mdb-progress-bar>
          <div class="card-body">
            <form [formGroup]="itemForm" (ngSubmit)="login()">
                <div class="pb-2 md-form">
                  <i class="fa fa-envelope prefix grey-text"></i>
                  <input type="text" id="orangeForm-email" [errorMessage]="emailErrorMessage()" successMessage=" " class="form-control"
                      required formControlName="email" mdbInputDirective>  
                  <label for="orangeForm-email">
                    Email
                  </label>
              	</div>
                <div class="md-form">
                    <i class="fa fa-lock prefix grey-text"></i>
                    <input type="password" id="orangeForm-pass" class="form-control" errorMessage='This field is required' successMessage=" " required formControlName="password" mdbInputDirective>
                    <label for="orangeForm-pass">Password</label>
                </div>
                <div class="md-form">                    
                <div class="row justify-content-center">
                  <re-captcha (captchaResponse)="handleCorrectCaptcha($event)" 
                      [site_key]="recapchaKey"
                      language="en">                        
                  </re-captcha>
                </div>
              </div>
	              <div class="text-center">
	                <button type="submit" [disabled]="!itemForm.valid || submiting || !captchaProcessed" class="btn btn-info waves-light" mdbWavesEffect>
	                    <span *ngIf="!submiting">Log in</span>
	                    <span *ngIf="submiting">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Logging in
                      </span>
	                </button>
	              </div>
	              <!-- <div class="modal-footer">
	                <div class="options">
	                    <p>Don't have an account? <a [routerLink]="['/account/create']">Create one</a></p>
                      <p>Resend<a [routerLink]="['/account/resend-email-verification-code']"> email verification link</a></p>
                      <p><a [routerLink]="['/account/forgot-your-password']">Forgot your password?</a></p>
	                </div>
	              </div> -->
            </form>
          </div>

      </div>

  </div>
</div>