<a class="btn btn-info waves-light" (click)="sendModal.show()" mdbWavesEffect>Send</a>



<div mdbModal #sendModal="mdbModal" (closed)="onHidden()" class="modal fade" id="modalLoginAvatar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog cascading-modal modal-avatar" role="document">
        
    <div class="modal-content">

            
      <div class="modal-header">
          <img [src]="'./assets/' + 'ETH' + '2.png'" class="rounded-circle img-responsive">
      </div>

      <form [formGroup]="itemForm">      
      <div class="modal-body text-center mb-1">

        <div *ngIf="status==0">
          <h5 class="mt-1 mb-2">Send ETH Transaction</h5>

          <div class="md-form ml-0 mr-0">
              <input type="text" required formControlName="to" mdbInputDirective successMessage=' ' errorMessage=' ' id="to" class="form-control ml-0">
              <label for="to" class="ml-0" >To</label>
          </div>

          <div class="md-form ml-0 mr-0">
              <input type="number" required formControlName="amount" mdbInputDirective successMessage=' ' errorMessage=' ' id="amount" class="form-control ml-0">
              <label for="amount" class="ml-0">Amount</label>
          </div>

          <div class="text-center">
            <button [disabled]="estimating" class="btn btn-outline-default mt-1" mdbWavesEffect (click)='next()'>
              <span *ngIf="!estimating">Next</span>
              <span *ngIf="estimating">Estimating fee</span>
              <i class="fa fa-paper-plane-o ml-1"></i></button>
          </div>
        </div>
        

        <div *ngIf="status==1">
          <h5 class="mt-1 mb-2">Confirm Transaction</h5>

          <div class="md-form ml-0 mr-0 text-left">
            <p>
                <strong>To: </strong>{{itemForm.value.to}}                            
            </p>
            <p>                            
                <strong>Amount: </strong> {{itemForm.value.amount}} ETH
            </p>
          </div>

            <div class="md-form ml-0 mr-0">
                <input type="number" required formControlName="gasLimit" mdbInputDirective successMessage=' ' errorMessage=' ' id="gasLimit" class="form-control ml-0">
                <label for="gasLimit" class="ml-0">Gas limit (UNITS)</label>
            </div>

            <div class="md-form ml-0 mr-0">
                <input type="number" required formControlName="gasPriceInGWei" mdbInputDirective successMessage=' ' errorMessage=' ' id="gasPriceInGWei" class="form-control ml-0">
                <label for="gasPriceInGWei" class="ml-0">Gas Price (Gwei)</label>
            </div>

            <div *ngIf="itemForm.value.gasLimit>0 && itemForm.value.gasPriceInGWei>0 && itemForm.value.amount>0" class="md-form ml-0 mr-0 text-left">
              <p>
                <strong>Max Fee: </strong>
                {{ newBigNumber(itemForm.value.gasLimit).times(newBigNumber(itemForm.value.gasPriceInGWei).times(newBigNumber(10).pow(-9))).toString(10) }} ETH                            
              </p>
            </div>

            <div *ngIf="itemForm.value.gasLimit>0 && itemForm.value.gasPriceInGWei>0 && itemForm.value.amount>0" class="md-form ml-0 mr-0">
              <h5>
                  Max Total: 
                  {{ newBigNumber(itemForm.value.amount).plus( newBigNumber(itemForm.value.gasLimit).times(newBigNumber(itemForm.value.gasPriceInGWei).times(newBigNumber(10).pow(-9))) ).toString(10) }} ETH
              </h5>
            </div>
             
            <div class="text-center">
                <button [disabled]="submitting || !(itemForm.value.gasLimit>0) || !(itemForm.value.gasPriceInGWei>0) || !(itemForm.value.amount>0) || estimating" class="btn btn-outline-default mt-1" mdbWavesEffect (click)='sendTransaction()'>
                <span *ngIf="!submitting">Submit</span>
                <span *ngIf="submitting">Sending transaction</span>
                <i class="fa fa-paper-plane-o ml-1"></i></button>
            </div>    
        </div>                
      </div>
      </form>

    </div>
  </div>
</div>


<div mdbModal #txModal="mdbModal" class="modal fade" id="centralModalSuccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-notify modal-success" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <p class="heading lead">Transaction sent successfully</p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="txModal.hide()">
                    <span aria-hidden="true" class="white-text">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <i class="fa fa-check fa-4x mb-3 animated rotateIn"></i>
                    <strong class="pt-1 pr-2">Transaction hash:
                        <a [href]="etherscanURL+'/tx/'+txhash" target="_blank" rel="noopener">{{txhash}}</a>
                     </strong>
                </div>
            </div>

        </div>
    </div>
</div>