<div class="pt-5 pb-4">
	<div class="info-color pt-4 pb-1 font-weight-bold z-depth-1 white-text">
			<div class="row no-gutters justify-content-center">
        <div class="col-12 col-md text-center">
            <h3 class="h3-responsive pt-2 text-capitalize">Withdrawal request</h3>
        </div>
			</div>
	</div>
</div>

<div *ngIf="!withdrawal || !senderInfo || !currencyInfo" class="text-center">
	<mdb-spinner spinnerType="big" spinnerColor="blue"></mdb-spinner>
</div>


<div *ngIf="withdrawal && senderInfo && currencyInfo" class="row no-gutters justify-content-center">

	<div class="cold-12 col-md-4">
		<div class="row no-gutters justify-content-center">
			<div class="col-12">
				<h2 class="text-center font-weight-bold pb-3">From</h2>
			</div>
			<div class="col-auto pr-2">
				<img class="rounded-circle" [src]="senderInfo.photo || './assets/noProfilePicture.png'" height="100px" alt="Profile pic">
			</div>
			<div class="col-auto">
				<h3 class="text-capitalize">{{senderInfo.firstName}} {{senderInfo.lastName}}</h3>
				<h5 *ngIf="senderInfo.membership.pricingPlan=='free'" class="grey-text font-weight-bold"><i class="fa fa-certificate" aria-hidden="true"></i> Free Member</h5>
				<h5 *ngIf="senderInfo.membership.pricingPlan=='basic'" class="indigo-text font-weight-bold"><i class="fa fa-certificate" aria-hidden="true"></i> Basic Member</h5>
				<h5 *ngIf="senderInfo.membership.pricingPlan=='plus'" class="purple-text font-weight-bold"><i class="fa fa-certificate" aria-hidden="true"></i> Plus Member</h5>
				<h5 *ngIf="senderInfo.membership.pricingPlan=='professional'" class="cyan-text font-weight-bold"><i class="fa fa-certificate" aria-hidden="true"></i> Professional Member</h5>
				<h5 *ngIf="senderInfo.membership.pricingPlan=='enterprise'" class="text-warning font-weight-bold"><i class="fa fa-diamond" aria-hidden="true"></i> Enterprise Member</h5>
			</div>
		</div>
	</div>

	<div class="col-12 col-md-4">
			<div class="row no-gutters justify-content-center">
				<div class="col-12">
					<h2 class="text-center font-weight-bold pb-3">To</h2>
				</div>
				<div class="col-12">
					<h5 class="text-center pb-3">{{withdrawal.to}}</h5>
				</div>
			</div>
	</div>

	<div class="col-12 col-md-4">
		<div class="row no-gutters justify-content-center">
				<div class="col-12">
					<h2 class="text-center font-weight-bold pb-3">Amount</h2>
				</div>
				<div class="col-auto pr-2">
					<img class="rounded-circle" [src]="'./assets/coins/BTC.png'" height="80px" alt="Profile pic">
				</div>
				<div class="col-auto">
					<h6>{{currencyInfo.name}} ({{withdrawal.currency}})</h6>
					<h4 class="font-weight-bold mb-0">{{withdrawal.amount}} {{withdrawal.currency}}</h4>
					<h6 class="grey-text font-weight-bold">{{fromCryptoToUSD(withdrawal.amount)}} USD</h6>
					<h6 class="grey-text font-weight-bold">Fee charged: {{withdrawal.fee}} {{withdrawal.currency}}</h6>
				</div>
		</div>
	</div>

	<div class="col-12 pr-5 pt-5 text-right">
			<p class="mb-0 font-weight-bold">Date: {{formatDate(withdrawal.creationTS)}}</p>
			<p class="font-weight-bold">ID: {{withdrawal.id}}</p>
		</div>

	<div class="col-12 text-center">
			<button mdbBtn type="button"color="danger" [ngClass]="{'btn-outline-danger':actionSelected!='reject'}" mdbWavesEffect (click)="selectAction('reject')">
				Reject
			</button>
			<button mdbBtn type="button" color="success" [ngClass]="{'btn-outline-success':actionSelected!='process'}" mdbWavesEffect (click)="selectAction('process')">
				Process
			</button>
	</div>

	<div class="col-12">

		<form [formGroup]="itemForm" (ngSubmit)="onSubmit()">
			<div class="row justify-content-center no-gutters">
					<div *ngIf="actionSelected=='reject'" class="col-12 col-md-6 md-form">
						<i class="fa fa-close prefix grey-text"></i>
						<input type="text" id="orangeForm-licence" class="form-control" required formControlName="rejectionReason" 
								successMessage=" " errorMessage='This field is required' mdbInputDirective>
						<label for="orangeForm-licence">Rejection reason</label>
					</div>

					<div *ngIf="actionSelected=='process'" class="col-12 col-md-6 md-form">
						<i class="fa fa-money prefix grey-text"></i>
						<input type="text" id="orangeForm-licence2" class="form-control" required formControlName="txHash" 
								successMessage=" " errorMessage='This field is required' mdbInputDirective>
						<label for="orangeForm-licence2">Transaction Hash</label>
					</div>

					<div class="col-12 col-md-2 md-form text-center">
						<button [disabled]="submitting || !actionSelected || 
																(actionSelected=='reject' && !itemForm.get('rejectionReason').valid) || 
																(actionSelected=='process' && !itemForm.get('txHash').valid)" mdbBtn type="submit" color="primary" size="lg" class="waves-light" mdbWavesEffect>
							<span *ngIf="!submitting">Submit</span>
							<span *ngIf="submitting">
								<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
							</span>
						</button>
					</div>
			</div>
		</form>

	</div>


</div>