<mdb-navbar *ngIf="authenticated==false" SideClass="navbar navbar-expand-md navbar-dark fixed-top light-blue darken-4 scrolling-navbar" [containerInside]="false">
    <logo>
        <a class="logo navbar-brand" [routerLink]="['/']">
    	  <img [src]="'./assets/' + app.symbol + '.png'" height="30px" alt="">
    	  <strong> {{app.name}}</strong>
        </a>
    </logo>
</mdb-navbar>


<mdb-navbar *ngIf="authenticated" SideClass="navbar navbar-expand-md navbar-dark fixed-top light-blue darken-4 scrolling-navbar" [containerInside]="false">
  <logo>
      <a class="logo navbar-brand" [routerLink]="['/my-wallet']">
        <img [src]="'./assets/' + app.symbol + '.png'" height="30px" alt="">
        <strong> {{app.name}}</strong>
      </a>
  </logo>
  <links>

    <ul class="navbar-nav nav-flex-icons ml-auto">
        <!-- <li *ngIf="userInfo" class="nav-item waves-light" mdbWavesEffect routerLinkActive="active">
            <a class="nav-link" (click)="notificationComponent.notificationModal.show()">
                <span class="d-sm-inline-block pl-1 badge badge-info badge-pill animated bounce">0</span>                
                <i class="fa fa-bell"></i>
            </a>
        </li>
        <li *ngIf="userInfo" class="nav-item waves-light" mdbWavesEffect routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/user/chats']">
                <span class="d-sm-inline-block pl-1 badge badge-info badge-pill animated bounce">0</span>                     
                <i class="fa fa-comments"></i>
            </a>
        </li> -->
        <li class="nav-item dropdown" dropdown>
          <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
            <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
            <span class="clearfix d-none d-sm-inline-block"> Requests</span>
          </a>
          <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-success" role="menu">
              <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/requests/id-verification/all']">
                <i class="fa fa-address-card-o" aria-hidden="true"></i>
                ID Verification
              </a>
              <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/requests/property-listing/all']">
                <i class="fa fa-home" aria-hidden="true"></i>
                Property Listing
              </a>
              <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/requests/withdrawal/all']">
                <i class="fa fa-money" aria-hidden="true"></i>
                Withdrawal
              </a>

          </div>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/my-wallet']">
                <i *ngIf="!userInfo" class="fa fa-spinner ml-1" aria-hidden="true"></i>
                <i *ngIf="userInfo" class="fa fa-money" aria-hidden="true"></i> 
                <span *ngIf="userInfo" class="clearfix d-none d-sm-inline-block"> 
                  My Wallet
                </span>                    
            </a>
        </li>     
        <li class="nav-item dropdown" mdbDropdown>
            <a mdbDropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
            <i class="fa fa-user" aria-hidden="true"></i>
            </a>
            <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-success" role="menu">
              <div class="divider dropdown-divider"></div>
              <a class="dropdown-item waves-light" mdbWavesEffect (click)="logout()">
                <i class="fa fa-sign-out" aria-hidden="true"></i>
                Logout
              </a>
            </div>
        </li>
    </ul>
  </links>      
</mdb-navbar>
            
<app-notifications #notificationComponent></app-notifications>