<i *ngIf="formatScore(score)>=1" class="fa fa-star amber-text" (click)='selectScore(1)'></i>
<i *ngIf="formatScore(score)>=2" class="fa fa-star amber-text" (click)='selectScore(2)'></i>
<i *ngIf="formatScore(score)>=3" class="fa fa-star amber-text" (click)='selectScore(3)'></i>
<i *ngIf="formatScore(score)>=4" class="fa fa-star amber-text" (click)='selectScore(4)'></i>
<i *ngIf="formatScore(score)==5" class="fa fa-star amber-text" (click)='selectScore(5)'></i>

<i *ngIf="formatScore(score)==0.5" class="fa fa-star-half-o amber-text"></i>
<i *ngIf="formatScore(score)==1.5" class="fa fa-star-half-o amber-text"></i>
<i *ngIf="formatScore(score)==2.5" class="fa fa-star-half-o amber-text"></i>
<i *ngIf="formatScore(score)==3.5" class="fa fa-star-half-o amber-text"></i>
<i *ngIf="formatScore(score)==4.5" class="fa fa-star-half-o amber-text"></i>

<i *ngIf="formatScore(score)<0.5" class="fa fa-star-o amber-text" (click)='selectScore(1)'></i>
<i *ngIf="formatScore(score)<1.5" class="fa fa-star-o amber-text" (click)='selectScore(2)'></i>
<i *ngIf="formatScore(score)<2.5" class="fa fa-star-o amber-text" (click)='selectScore(3)'></i>
<i *ngIf="formatScore(score)<3.5" class="fa fa-star-o amber-text" (click)='selectScore(4)'></i>
<i *ngIf="formatScore(score)<4.5" class="fa fa-star-o amber-text" (click)='selectScore(5)'></i>