<div class="row no-gutters pt-2">
  <div class="col-12">

    <div *ngIf="!userInfo || !identityWallet" class="text-center">
      <mdb-spinner spinnerType="big" spinnerColor="blue"></mdb-spinner>
    </div>

    <div *ngIf="userInfo && identityWallet" class="row">
        <div class="col-12 grey-text text-center pb-4">
            Used for Rental Agreements with Smart Contracts. Your money is saved in an encrypted exportable Wallet.
        </div>

        <div class="col-12 col-md-4">
            <div class="row justify-content-center">
              <div class="col">
                <div class="">
                  <img src="./assets/ETH3.svg" class="pb-2 rounded-circle mx-auto d-block">
                </div>
                <span class="text-center">	
                  <p>
                  Balance: 
                  </p>
                  <h4 *ngIf="!balance">Loading</h4>
                  <h4 *ngIf="balance">{{formatBalance(balance, 18)}} ETH</h4>
                </span>		    		
                <div class="row justify-content-center">
                  <div class="text-center">
                    <app-send [identityWallet]='identityWallet'></app-send>
                  </div>
                  <div class="text-center">
                    <app-receive [identityWallet]='identityWallet'></app-receive>
                  </div>
                  <a mdbBtn color='primary' mdbWavesEffect (click)="openExportWalletModal()">
                      <i class="fa fa-download" aria-hidden="true"></i>
                      <span> Export wallet</span>                      
                  </a>
                </div>
              </div>
            </div>
        </div>

        <div class="col-12 col-md-8 pt-3 pt-md-0">
          <app-identity-transactions [identityWallet]='identityWallet'></app-identity-transactions>
        </div>
    </div>
      


  </div>
</div>




<!-- EXPORT MODAL -->

<div mdbModal #exportModal="mdbModal" (closed)="onHidden()" class="modal fade" id="modalLoginAvatar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog cascading-modal modal-avatar" role="document">
        
    <div class="modal-content">
            
      <div class="modal-header">
          <img [src]="'./assets/' + 'ETH' + '2.png'" class="rounded-circle img-responsive">
      </div>
            
      <form [formGroup]="itemForm">      
        <div class="modal-body text-center mb-1">

          <div class="text-center" *ngIf="sendingLink">
            <mdb-spinner spinnerType="big" spinnerColor="blue"></mdb-spinner>
          </div>
          
          <h5 *ngIf="status==1" class="mt-1 mb-2" >We've sent you a verification code. Check your email!</h5>

          <div class="md-form ml-0 mr-0" *ngIf="status==1">
              <input type="text" required formControlName="verificationCode" mdbInputDirective successMessage=' ' errorMessage=' ' id="verificationCode" class="form-control ml-0">
              <label for="verificationCode" class="ml-0">Code</label>
          </div>

          <div class="text-center">
            <button [disabled]="sendingLink || exportingWallet || status!=1 || !this.itemForm.valid" class="btn btn-outline-default mt-1" mdbWavesEffect (click)="exportWallet()">
              <span *ngIf="!exportingWallet">Export</span>
              <span *ngIf="exportingWallet">Exporting...</span>
              <i class="fa fa-download ml-1"></i>
            </button>
          </div>

        </div>
      </form>

    </div>
  </div>
</div>