/* You can add global styles to this file, and also import other style files */

/* main{
	padding-top:100px;
} */
/*
.gray{
	background-color:gray;
}
*/

.opacity {
	opacity: 0.9 !important;
}



.amenities-list {
    list-style-type: none;
}

.amenities-list li span{
    display: inline-block;
}

.amenities-icon{
    position: relative;
    width: 24px;
    height: 24px;
    vertical-align: middle;    
    /*background-image: url(https://cdn.rentberry.com/static/dist/assets/images/icons/amenities/amenities.png?v=1537255748286);*/
    background-image: url('./assets/amenities.png');
    background-repeat: no-repeat;
    display: block;
}


/*.amenitiesSelected{
    background-position-y: 0;
}*/

.washerUnit{
    background-position: 0 -25px;
    /*background-position-y: 0px;*/
}

.pool{
    background-position: -25px -25px;
    /*background-position-y: 0px;*/
}

.gym{
    background-position: -50px -25px;
}

.elevator{
    background-position: -75px -25px;
}

.parking{
    background-position: -100px -25px;
}

.fireplace{
    background-position: -125px -25px;
}

.airConditioning{
    background-position: -150px -25px;
}

.doorman{
    background-position: -175px -25px;
}

.dishwasher{
    background-position: -200px -25px;
}

.roofDeck{
    background-position: -500px -25px;
}

.storage{
    background-position: -250px -25px;
}

.wheelchairAccessible{
    background-position: -275px -25px;
}

.hardwoodFloors{
    background-position: -300px -25px;
}

.garden{
    background-position: -525px -25px;
}

.balcony{
    background-position: -350px -25px;
}

.furnished{
    background-position: -375px -25px;
}

.view{
    background-position: -400px -25px;
}

.studentFriendly{
    background-position: -425px -25px;
}

.highRise{
    background-position: -450px -25px;
}

.utilitiesIncluded{
    background-position: -475px -25px;
}


.cropper-view-box-rounded, .cropper-face-rounded {
  border-radius: 50%;
}
